.b-btn {
  width: fit-content;
  height: 60px;
  font-size: 18px;
  padding: 0px 12px;
  color: var(--wh);
  background-color: var(--bl);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.w-btn {
  width: fit-content;
  height: 60px;
  font-size: 18px;
  padding: 0px 12px;
  color: var(--bl);
  background-color: var(--wh);
  outline: solid 1px var(--bl);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}
.w-btn:focus {
  outline: solid 2px var(--bl);
}
.b-btn-o {
  width: fit-content;
  height: 60px;
  font-size: 18px;
  padding: 0px 12px;
  color: var(--wh);
  background-color: var(--bl);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  outline: solid 2px var(--wh);
}
.b-btn-o:focus {
  outline: solid 2px var(--wh);
}
.w-btn-o {
  width: fit-content;
  height: 60px;
  font-size: 18px;
  padding: 0px 12px;
  color: var(--bl);
  background-color: var(--wh);
  outline: solid 1px var(--bl);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  outline: solid 2px var(--bl);
}

/* follow lines */

.follow-btn {
  height: 36px;
  padding: 0px 12px;
  outline: solid 2px var(--gr50);
  border-radius: 8px;
  margin-left: auto;
  margin-right: 2px;
  transition: 0.2s;
  color: #3b3b3b;
}
.follow-btn:focus {
  outline: solid 2px var(--gr);
}
.followed {
  background-color: var(--gr);
}

/* texts */

.t-64 {
  font-size: 64px;
  color: var(--bl);
  font-weight: 600;
}
.t-48 {
  font-size: 48px;
  color: var(--bl);
  font-weight: 600;
}
.t-32 {
  font-size: 32px;
  color: var(--bl);
}
.t-24 {
  font-size: 24px;
  color: var(--bl);
}
.t-20 {
  font-size: 20px;
  color: var(--bl);
  height: fit-content;
}
.t-18 {
  font-size: 18px;
  color: var(--bl);
}
.t-16 {
  font-size: 16px;
  color: var(--bl);
}
.t-14 {
  font-size: 14px;
  color: var(--bl);
}
.w-36 {
  font-size: 36px;
  color: var(--wh);
}
.w-32 {
  font-size: 32px;
  color: var(--wh);
}
.w-24 {
  height: fit-content;
  font-size: 24px;
  color: var(--wh);
}
.w-20 {
  height: fit-content;
  font-size: 20px;
  color: var(--wh);
}
.w-18 {
  height: fit-content;
  font-size: 18px;
  color: var(--wh);
}
.w-16 {
  height: fit-content;
  font-size: 16px;
  color: var(--wh);
}
.w-14 {
  height: fit-content;
  font-size: 14px;
  color: var(--wh);
}

@media (max-width: 720px) {
  .b-btn {
    height: 40px;
    font-size: 12px;
  }
  .w-btn {
    height: 40px;
    font-size: 12px;
  }
  .b-btn-o {
    height: 40px;
    font-size: 12px;
  }
  .w-btn-o {
    height: 40px;
    font-size: 12px;
  }
  .t-64 {
    font-size: 42px;
  }
  .t-48 {
    font-size: 32px;
  }
  .t-32 {
    font-size: 24px;
  }
  .t-24 {
    font-size: 20px;
  }
  .t-20 {
    font-size: 16px;
  }
  .t-18 {
    font-size: 14px;
  }
  .t-16 {
    font-size: 12px;
  }
  .t-14 {
    font-size: 12px;
  }
  .w-36 {
    font-size: 24px;
  }
  .w-32 {
    font-size: 24px;
  }
  .w-24 {
    font-size: 20px;
  }
  .w-14 {
    font-size: 12px;
  }
}
