footer {
    width: 100%;
    height: fit-content;
    margin-top: 120px;
    background-color: #000;
    padding: 24px 80px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  #f-img {
    filter: brightness(100);
    margin-right: 12px;
    width: 60px;
    aspect-ratio: 1 / 1;
  }
  .w-text {
    color: #fff;
    font-size: 24px;
    align-items: center;
  }
  .g-text {
    color: #cbcbcb;
    font-size: 24px;
    align-items: center;
  }
  .footer-t-links {
    gap: 48px;
    margin-left: auto;
  }
  .footer-b-links {
    margin-left: auto;
    gap: 24px;
  }