footer {
  width: 100%;
  height: fit-content;
  margin-top: 120px;
  background-color: #000;
  padding: 24px 80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-t {
  gap: 12px;
}
#f-img {
  filter: brightness(100);
  margin-right: 12px;
  width: 60px;
  aspect-ratio: 1 / 1;
}
.g-text {
  color: #cbcbcb;
  font-size: 24px;
  align-items: center;
  white-space: nowrap;
}
.footer-t-links {
  gap: 48px;
  margin-left: auto;
}
.footer-b-links {
  gap: 24px;
}
.footer-b {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}


@media (max-width: 1120px) {
  footer {
    padding: 12px 40px;
  }
  .footer-t-links {
    gap: 18px;
  }
  .footer-t {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .footer-t-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .g-text {
    font-size: 16px;
  }
  .footer-b {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 12px 24px;
  }
  
}