.header {
    width: 100%;
    max-width: 1920px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    padding: 0px 80px;
    /* left: 0; */
}
.header-l {
    gap: 128px;
}
.header-r {
    gap: 64px;
    align-items: center;
    position: relative;
}
.header-logo {
    width: 60px;
    height: 60px;
}
.header-nav {
    gap: 24px;
}
.header-nav-text {
    font-size: 24px;
}
#logo {
    width: 100%;
    height: 100%;
    filter: brightness(0);
}
.info {
    width: 240px;
    position: absolute;
    background-color: #00000095;
    top: 80px;
    flex-direction: column;
    padding: 8px;
    border-radius: 8px;
    gap: 12px;
    left: -180px;
    display: none;
    transition: 0.2s;
    opacity: 0;
}
.info-img {
    width: 48px;
    aspect-ratio: 1 / 1;
    display: flex;
    gap: 12px;
}
.info-text {
    color: #fff;
    align-items: center;
    font-size: 16px;
}