/* JUST */

.just {
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  margin-top: 60px;
  border-top: 1px solid #cbcbcb;
  justify-content: space-between;
}
.just-l {
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.j-div {
  flex-direction: column;
}
.just-list {
  flex-direction: column;
  gap: 24px;
}
.just-el {
  gap: 12px;
  align-items: center;
}
.f-list {
  max-height: 600px;
  margin-right: 140px;
  border-radius: 16px;
  box-shadow: 0 5px 5px #00000020, -5px -5px 5px #00000020;
  padding: 12px;
  position: relative;
  z-index: 1;
}
.follow-list {
  width: 360px;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
}
.follow-list::-webkit-scrollbar {
  display: none;
}
.follow-line {
  width: 100%;
  height: 40px;
  gap: 24px;
  align-items: center;
}
.follow-img {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
.follow-div {
  flex-direction: column;
}

/* TABLE */

.table {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}
.tbod {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 24px;
}
.td-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.td-name {
  flex-direction: column;
  gap: 12px;
}

.tr1 {
  display: flex;
}
.td1 {
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 12px;
  align-items: center;
}
.td2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.td3 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.td4 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.td5 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.td6 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.td-div {
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}
.tt-div {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.tt-svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 1320px) {
  .just {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .f-list {
    margin-right: 0;
  }
  .follow-list {
    width: 520px;
  }
}
@media (max-width: 1080px) {
  .header {
    flex-direction: column;
  }
  .td3 {
    display: none;
  }
  .td5 {
    display: none;
  }
}
@media (max-width: 680px) {
  .follow-list {
    width: 280px;
  }
}
@media (max-width: 540px) {
  .td2 {
    display: none;
  }
  .td4 {
    display: none;
  }
}
