.pre-footer {
  width: 100%;
  background-color: #000;
  padding: 24px;
  border-radius: 12px;
  margin-top: 120px;
  justify-content: space-between;
}
.pre-l {
  flex-direction: column;
  justify-content: space-between;
}
.pre-r {
  height: 180px;
}
.h2-bl {
  font-size: 32px;
  color: #fff;
}
.h3-bl {
  font-size: 24px;
  color: #cbcbcb;
}
.w-text {
  color: #fff;
  font-size: 24px;
  align-items: center;
}
.pre-div {
  margin-top: 32px;
  gap: 24px;
}

@media (max-width: 920px) {
  .pre-footer {
    flex-direction: column;
    gap: 12px;
  }
  .pre-r {
    justify-content: center;
  }
  .pre-div {
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .w-btn {
    height: 40px;
    font-size: 16px;
  }
  .w-btn-1 {
    height: 40px;
    font-size: 16px;
  }
  .w-text {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  .pre-div {
    flex-wrap: wrap;
  }
}